<template>
  <div>
    <n-input v-model:value="comment" type="textarea" />
    <div class="flex justify-end mt-4">
      <n-button round @click="handleComment">评论</n-button>
    </div>
    <div class="text-lg font-bold my-8">精彩评论({{ commentList.hotComments.length }})</div>
    <div class="flex flex-col gap-4 mt-4">
      <div v-for="item in commentList.hotComments" :key="item.commentId" class="flex gap-2">
        <n-avatar :src="item.user?.avatarUrl" :size="48" round class="mr-2"></n-avatar>
        <div class="w-full flex flex-col gap-4">
          <div>
            <span class="text-sky-500">{{ item.user?.nickname }}：</span>
            <span>{{ item.content }}</span>
          </div>
          <div v-if="item.beReplied.length !== 0" class="indent-4">
            <span class="text-sky-500">@{{ item.beReplied[0].user?.nickname }}：</span>
            <span>{{ item.beReplied[0].content }}</span>
          </div>
          <div class="flex justify-between items-center border-b pb-4">
            <div class="text-xs text-gray-400">{{ formatDate(new Date(item.time), 'yyyy-MM-dd hh:mm:ss') }}</div>
            <div class="flex items-center text-gray-400">
              <div class="flex cursor-pointer">
                <n-icon>
                  <svg-icon :name="item.liked ? 'thumbs-up-solid' : 'thumbs-up'"></svg-icon>
                </n-icon>
                <span class="text-xs ml-1">{{ item.likedCount }}</span>
              </div>
              <n-divider vertical />
              <n-icon class="cursor-pointer">
                <svg-icon name="comment"></svg-icon>
              </n-icon>
            </div>
          </div>
          <div v-if="item.reply">
            <n-input type="textarea" :placeholder="'@' + item.user?.nickname"></n-input>
            <n-button class="!mt-2">评论</n-button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-lg font-bold my-8">最新评论({{ pagination.total }})</div>
    <div class="flex flex-col gap-4 mt-4">
      <div v-for="item in commentList.comments" :key="item.commentId" class="flex gap-2">
        <n-avatar :src="item.user?.avatarUrl" :size="48" round class="mr-2"></n-avatar>
        <div class="w-full flex flex-col gap-4">
          <div>
            <span class="text-sky-500">{{ item.user?.nickname }}：</span>
            <span>{{ item.content }}</span>
          </div>
          <div v-if="item.beReplied.length !== 0" class="indent-4">
            <span class="text-sky-500">@{{ item.beReplied[0].user?.nickname }}：</span>
            <span>{{ item.beReplied[0].content }}</span>
          </div>
          <div class="flex justify-between items-center border-b pb-4">
            <div class="text-xs text-gray-400">{{ formatDate(new Date(item.time), 'yyyy-MM-dd hh:mm:ss') }}</div>
            <div class="flex items-center text-gray-400">
              <div class="flex cursor-pointer">
                <n-icon>
                  <svg-icon :name="item.liked ? 'thumbs-up-solid' : 'thumbs-up'"></svg-icon>
                </n-icon>
                <span class="text-xs ml-1">{{ item.likedCount }}</span>
              </div>
              <n-divider vertical />
              <n-icon class="cursor-pointer">
                <svg-icon name="comment"></svg-icon>
              </n-icon>
            </div>
          </div>
          <div v-if="item.reply">
            <n-input type="textarea" :placeholder="'@' + item.user?.nickname"></n-input>
            <n-button class="!mt-2">评论</n-button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-end mt-4">
      <n-pagination
        v-model:page="pagination.current"
        v-model:page-size="pagination.pageSize"
        :item-count="pagination.total"
        show-size-picker
        :page-sizes="[20, 40, 60]"
        @update:page="handleChangePage"
        @update:page-size="handleChangePageSze"
      ></n-pagination>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import request from '@/utils/request'
import { formatDate } from '@/utils'
import useUserStore from '@/stores/modules/user'
import { useMessage } from 'naive-ui'

const userStore = useUserStore()
const message = useMessage()

interface Props {
  id: string // 歌单、mv、歌曲id
  type: 'playlist' | 'mv' | 'music' // 评论类型：歌单、mv、歌曲
}

const props = defineProps<Props>()

// 监听id变化，重新获取评论列表
watch(
  () => props.id,
  () => {
    getCommentList()
  }
)
// 评论列表: 热门评论 + 最新评论
const commentList = ref({
  hotComments: [] as any,
  comments: [] as any
})
// 分页
const pagination = ref({
  current: 1,
  pageSize: 20,
  total: 0
})
// 获取评论列表
const getCommentList = async () => {
  const res = (await request.get(`/comment/${props.type}`, {
    params: {
      id: props.id,
      offset: (pagination.value.current - 1) * pagination.value.pageSize,
      limit: pagination.value.pageSize
    }
  })) as any
  res.hotComments &&
    (commentList.value.hotComments = res.hotComments.map((item: any) => {
      item.reply = false
      return item
    }))
  commentList.value.comments = res.comments.map((item: any) => {
    item.reply = false
    return item
  })
  res.total && (pagination.value.total = res.total)
}
getCommentList()

// 回复评论
const comment = ref('')

// 页码改变
const handleChangePage = (page: number) => {
  pagination.value.current = page
  getCommentList()
}

// 每页条数改变
const handleChangePageSze = (size: number) => {
  pagination.value.pageSize = size
  getCommentList()
}

// 评论
const handleComment = async () => {
  if (!userStore.userInfo.userId) {
    message.info('请先登录')
    return
  }
  const typeMap = {
    music: 0,
    mv: 1,
    playlist: 2
  }
  const res = (await request.get(`/comment`, {
    params: {
      t: 1,
      type: typeMap[props.type],
      id: props.id,
      content: comment.value,
    }
  })) as any
  comment.value = ''
  message.success('评论成功')
  getCommentList()
}
</script>

<style lang="scss" scoped></style>
