<template>
  <div class="w-full h-auto overflow-hidden" v-bind="$attrs" @click="router.push(`/mv/${data.id}`)">
    <div class="relative w-full h-60 rounded overflow-hidden group cursor-pointer shrink-0">
      <img v-lazyload="data.picUrl || data.cover" alt="" class="w-full h-full rounded group-hover:scale-125 duration-500" />
      <div class="absolute inset-0 bg-zinc-800/50 hidden group-hover:block"></div>
      <div
        class="absolute inset-1/2 transform -translate-x-1/2 -translate-y-1/2 w-10 h-10 bg-white/90 rounded-full opacity-0 group-hover:opacity-100 duration-300 flex justify-center items-center"
      >
        <n-icon color="#63e2b7" size="22">
          <svg-icon name="play-solid"></svg-icon>
        </n-icon>
      </div>
      <div class="absolute top-2 right-4 text-gray-100 flex items-center gap-1">
        <n-icon>
          <svg-icon name="play"></svg-icon>
        </n-icon>
        <span>{{ formatNumber(data.playCount) }}</span>
      </div>
      <div class="absolute right-4 bottom-4 text-gray-100">
        {{ formatTime(data.duration) }}
      </div>
      <div
        v-if="data.copywriter"
        class="absolute left-0 top-0 w-full h-[30px] leading-[30px] bg-zinc-900/70 text-white text-center -translate-y-full group-hover:translate-y-0 duration-300"
      >
        {{ data.copywriter }}
      </div>
    </div>
    <p class="my-1 truncate">{{ data.name }}</p>
    <p class="text-sm text-gray-400">{{ data.artistName }}</p>
  </div>
</template>

<script setup lang="ts">
import {} from 'vue'
import { formatNumber, formatTime } from '@/utils'
import { useRouter } from 'vue-router'

const router = useRouter()

interface Props {
  data: any
}

defineProps<Props>()
</script>

<style lang="scss" scoped></style>
