<template>
  <n-config-provider
    :theme="appStore.isDark ? darkTheme : null"
    :theme-overrides="themeOverrides"
    :locale="i18n.locale.value === 'zh' ? zhCN : enUS"
    :date-locale="dateZhCN"
  >
    <n-message-provider>
      <router-view></router-view>
    </n-message-provider>
  </n-config-provider>
</template>

<script setup lang="ts">
import { darkTheme, zhCN, enUS, dateZhCN } from 'naive-ui'
import useAppStore from '@/stores/modules/app'
import { useI18n } from 'vue-i18n'

const appStore = useAppStore()
const i18n = useI18n()

const themeOverrides = {
  Button: {
    borderRadiusMedium: '6px'
  },
  Menu: {
    borderRadius: '6px'
  },
  Dropdown: {
    borderRadius: '6px'
  },
  Input: {
    borderRadius: '4px'
  },
  Card: {
    borderRadius: '6px'
  },
  Popover: {
    borderRadius: '6px'
  },
  Message: {
    borderRadius: '6px'
  }
}
</script>

<style lang="scss" scoped></style>
