<template>
  <div v-if="!isFinished" ref="loadingRef" class="flex justify-center mt-4">
    <n-spin size="large"></n-spin>
  </div>
  <n-divider v-else dashed>我也是有底线的!</n-divider>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useIntersectionObserver, useVModel } from '@vueuse/core'

interface Props {
  isLoading: boolean // 是否正在加载
  isFinished: boolean // 是否加载完毕
}

const props = defineProps<Props>()

interface Emits {
  (update: 'update:isLoading', value: boolean): void
  (load: 'load'): void
}

const emits = defineEmits<Emits>()

const loading = useVModel(props, 'isLoading', emits)

const loadingRef = ref<HTMLElement | null>(null)
// 监听loadingRef是否进入可视区域
useIntersectionObserver(loadingRef, ([{ isIntersecting }]) => {
  if (isIntersecting && !loading.value && !props.isFinished) {
    loading.value = true
    emits('load')
  }
})
</script>

<style lang="scss" scoped></style>
