<template>
  <div class="relative rounded overflow-hidden group cursor-pointer" @click="router.push(`/playlist/${data.id}`)">
    <img v-lazyload="data.picUrl || data.coverImgUrl" alt="" class="w-full rounded group-hover:scale-125 duration-500" />
    <div class="absolute inset-0 bg-zinc-800/50 hidden group-hover:block"></div>
    <div class="absolute right-4 bottom-4 w-8 h-8 bg-white/90 rounded-full opacity-0 group-hover:opacity-100 duration-300 flex justify-center items-center">
      <n-icon color="#63e2b7">
        <svg-icon name="play-solid"></svg-icon>
      </n-icon>
    </div>
    <div class="absolute top-2 right-4 text-gray-100 flex items-center gap-1">
      <n-icon>
        <svg-icon name="play"></svg-icon>
      </n-icon>
      <span>{{ formatNumber(data.playCount) }}</span>
    </div>
  </div>
  <p class="my-2 truncate">{{ data.name }}</p>
</template>

<script setup lang="ts">
import {} from 'vue'
import { formatNumber } from '@/utils'
import { useRouter } from 'vue-router'

const router = useRouter()

interface Props {
  data: any
}

defineProps<Props>()
</script>

<style lang="scss" scoped></style>
