<template>
  <n-data-table :data="playList" :columns="tableColumns" :bordered="false" :row-props="rowProps"></n-data-table>
</template>

<script setup lang="ts">
import { h, ref } from 'vue'
import request from '@/utils/request'
import { DataTableColumns, NTag, useMessage } from 'naive-ui'
import SvgIcon from '@/components/SvgIcon/index.vue'
import { formatTime } from '@/utils'
import { useRouter } from 'vue-router'
import { currentSongState, playlistState, songState } from '@/utils/storage'

const router = useRouter()
const message = useMessage()

const tableColumns: DataTableColumns = [
  {
    title: '序号',
    key: 'index',
    render: (row: any, index: number) => {
      return (index + 1 + '').padStart(2, '0')
    }
  },
  {
    title: '封面',
    key: 'cover',
    render: (row: any) => {
      return h(
        'div',
        {
          class: 'relative w-12 h-12 rounded overflow-hidden'
        },
        [
          h('img', {
            src: row.al.picUrl,
            alt: row.name,
            class: 'w-full h-full rounded hover:scale-125 duration-500'
          }),
          h(
            'div',
            {
              class:
                'absolute inset-1/2 transform -translate-x-1/2 -translate-y-1/2 w-6 h-6 bg-white/90 rounded-full flex justify-center items-center'
            },
            [h('n-icon', {}, [h(SvgIcon, { name: 'play-solid', color: '#63e2b7' })])]
          )
        ]
      )
    }
  },
  {
    title: '歌名',
    key: 'name',
    render: (row: any) => {
      return h('div', { class: 'flex items-center gap-2' }, [
        h('span', row.name),
        row.mv !== 0
          ? h(
            NTag,
            {
              type: 'success',
              size: 'small',
              class: '!cursor-pointer',
              onClick: () => router.push(`/mv/${row.mv}`)
            },
            { default: () => h('span', 'MV') }
          )
          : null,
        row.fee === 1
          ? h(
            NTag,
            {
              type: 'error',
              size: 'small',
            },
            { default: () => h('span', 'VIP') }
          )
          : null,
        row.recommendReason ? h('span', { class: 'text-xs text-red-600 bg-red-200 p-1 rounded' }, { default: () => row.recommendReason }) : null
      ])
    }
  },
  {
    title: '歌手',
    key: 'artists',
    render: (row: any) => {
      return row.ar.map((item: any) => item.name).join('/')
    }
  },
  {
    title: '专辑',
    key: 'album',
    render: (row: any) => {
      return row.al.name
    }
  },
  {
    title: '时长',
    key: 'duration',
    render: (row: any) => {
      return formatTime(row.dt)
    }
  }
]

// 播放列表
const playList = ref()
// 获取播放列表
const getPlaylist = async () => {
  const data = (await request.get('/recommend/songs', {
    params: {
      limit: 100
    }
  })) as any
  playList.value = data.data.dailySongs
}
getPlaylist()

const rowProps = (row: any) => {
  return {
    class: 'cursor-pointer',
    ondblclick: async () => {
      playlistState.value = playList.value
      const data = (await request.get('/check/music', {
        params: {
          id: row.id
        }
      })) as any
      if (data.success) {
        currentSongState.value = row
        const songDetail = (await request.get('/song/url', {
          params: {
            id: row.id
          }
        })) as any
        songState.value.url = songDetail.data[0].url
      } else {
        message.info('亲爱的,暂无版权')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
:deep(thead) {
  display: none;
}
</style>
