<template>
  <n-data-table :data="data" :columns="tableColumns" :bordered="false" :row-props="rowProps"></n-data-table>
</template>

<script setup lang="ts">
import { h, ref } from 'vue'
import { DataTableColumns, NIcon, NTag, useMessage } from 'naive-ui'
import SvgIcon from '@/components/SvgIcon/index.vue'
import { formatTime } from '@/utils'
import { useRouter } from 'vue-router'
import request from '@/utils/request'
import useUserStore from '@/stores/modules/user'
import { currentSongState, playlistState, songState } from '@/utils/storage'

const router = useRouter()
const userStore = useUserStore()
const message = useMessage()

interface Props {
  data: any
}

const props = defineProps<Props>()

// 用户喜欢的歌曲列表
const likeList = ref<any[]>([])
// 获取用户喜欢的歌曲列表
const getLikeList = async () => {
  const data = (await request.get('/likelist', {
    params: {
      uid: userStore.userInfo?.userId
    }
  })) as any
  likeList.value = data.ids
}
userStore.userInfo?.userId && getLikeList()

// 表格列
const tableColumns: DataTableColumns = [
  {
    title: '',
    key: 'index',
    width: '50',
    render: (row: any, index: number) => {
      return currentSongState.value.id === row.id
        ? h(
            NIcon,
            { size: 20, color: '#4ade80' },
            {
              default: () =>
                h(SvgIcon, {
                  name: 'volume'
                })
            }
          )
        : (index + 1 + '').padStart(2, '0')
    }
  },
  {
    title: '操作',
    key: 'action',
    width: '80',
    render: (row: any) => {
      return h(
        NIcon,
        {
          size: '16',
          class: ['cursor-pointer', likeList.value.includes(row.id) ? 'text-green-400' : 'text-gray-500'],
          onClick: async () => {
            if (!userStore.userInfo.userId) {
              message.info('请先登录')
              return
            }
            const data = (await request.get('/like', {
              params: {
                id: row.id,
                like: !likeList.value.includes(row.id),
              }
            })) as any
            if (likeList.value.includes(row.id)) {
              likeList.value = likeList.value.filter((item: any) => item !== row.id)
            } else {
              likeList.value.push(row.id)
            }
          }
        },
        {
          default: () =>
            h(SvgIcon, {
              name: likeList.value.includes(row.id) ? 'heart-solid' : 'heart'
            })
        }
      )
    }
  },
  {
    title: '歌名',
    key: 'name',
    render: (row: any) => {
      return h('div', { class: 'flex items-center gap-2' }, [
        h(
          'div',
          {
            class: 'text-sm'
          },
          row.name
        ),
        row.mv !== 0
          ? h(
              NTag,
              {
                type: 'success',
                size: 'small',
                class: '!cursor-pointer',
                onClick: (e: Event) => {
                  router.push(`/mv/${row.mv}`)
                }
              },
              { default: () => h('span', 'MV') }
            )
          : null,
        row.fee === 1
          ? h(
              NTag,
              {
                type: 'error',
                size: 'small'
              },
              { default: () => h('span', 'VIP') }
            )
          : null
      ])
    }
  },
  {
    title: '歌手',
    key: 'artists',
    render: (row: any) => {
      return row.ar.map((item: any) => item.name).join('/')
    }
  },
  {
    title: '专辑',
    key: 'album',
    render: (row: any) => {
      return row.al.name
    }
  },
  {
    title: '时长',
    width: '100',
    key: 'duration',
    render: (row: any) => {
      return formatTime(row.dt) // 12873
    }
  }
]

// 双击播放
const rowProps = (row: any) => {
  return {
    class: 'cursor-pointer',
    ondblclick: async () => {
      playlistState.value = props.data
      const data = (await request.get('/check/music', {
        params: {
          id: row.id
        }
      })) as any
      if (data.success) {
        currentSongState.value = row
        const songDetail = (await request.get('/song/url', {
          params: {
            id: row.id
          }
        })) as any
        songState.value.url = songDetail.data[0].url
      } else {
        message.info('亲爱的,暂无版权')
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
