<template>
  <div v-if="Object.keys(currentSongState).length !== 0" class="w-full h-full flex justify-between items-center px-20">
    <div class="flex items-center gap-4">
      <div class="relative w-10 h-10 rounded group cursor-pointer" @click="playDetailVisible = true">
        <img :src="currentSongState.al.picUrl" alt="" class="w-full h-full rounded" />
        <div class="absolute inset-0 hidden group-hover:block bg-zinc-900/70 duration-500 rounded"></div>
        <div class="absolute inset-0 flex justify-center items-center">
          <n-icon size="20" color="#fff">
            <svg-icon name="chevron-up"></svg-icon>
          </n-icon>
        </div>
      </div>
      <div class="flex flex-col justify-center">
        <div>{{ currentSongState.name }}</div>
        <div class="text-xs text-gray-500">{{ currentSongState.ar.map(item => item.name).join('/') }}</div>
      </div>
    </div>

    <div class="w-[500px] flex flex-col items-center gap-2">
      <div class="flex justify-between items-center w-40">
        <n-icon size="20" class="cursor-pointer" @click="handleChangePlayMode">
          <svg-icon
            :name="{ list: 'arrow-right-arrow-left', random: 'shuffle', single: 'arrows-repeat' }[playModeState]"
          ></svg-icon>
        </n-icon>
        <n-icon size="20" class="cursor-pointer" @click="handlePrev">
          <svg-icon name="backward-step"></svg-icon>
        </n-icon>
        <n-icon size="20" class="cursor-pointer" @click="togglePlay">
          <svg-icon :name="isPlaying ? 'pause' : 'play-solid'"></svg-icon>
        </n-icon>
        <n-icon size="20" class="cursor-pointer" @click="handleNext">
          <svg-icon name="forward-step"></svg-icon>
        </n-icon>
      </div>

      <div class="w-full flex items-center gap-2">
        <audio
          ref="audioRef"
          :src="songState.url"
          preload="auto"
          :volume="volumeState / 100"
          @timeupdate="handleTimeupdate"
          @ended="handleEnded"
          @error="handleError"
        ></audio>
        <span><n-time :time="songState.currentTime * 1000" format="mm:ss"></n-time></span>
        <n-slider
          v-model:value="songState.currentTime"
          :max="currentSongState.dt / 1000"
          :tooltip="false"
          @update:value="updateCurrentTime"
        >
          <template #thumb>
            <n-icon-wrapper :size="24" :border-radius="12">
              <n-icon :size="16">
                <svg-icon name="paw"></svg-icon>
              </n-icon>
            </n-icon-wrapper>
          </template>
        </n-slider>
        <span>
          <n-time :time="currentSongState.dt" format="mm:ss"></n-time>
        </span>
      </div>
    </div>

    <div class="flex items-center gap-4">
      <n-popover trigger="hover">
        <template #trigger>
          <n-icon size="20" class="cursor-pointer" @click="volumeState !== 0 ? (volumeState = 0) : (volumeState = 100)">
            <svg-icon :name="volumeState === 0 ? 'volume-slash' : 'volume'"></svg-icon>
          </n-icon>
        </template>
        <div class="h-40">
          <n-slider v-model:value="volumeState" vertical style="width: 18px"></n-slider>
        </div>
      </n-popover>
      <n-icon size="20" class="cursor-pointer" @click="playlistVisible = true">
        <svg-icon name="list"></svg-icon>
      </n-icon>
    </div>

    <n-drawer v-model:show="playlistVisible" :width="502" placement="right">
      <n-drawer-content :native-scrollbar="false">
        <template #header>
          <div class="w-full flex justify-between items-center text-sm">
            <div>共 {{ playlistState?.length }} 首</div>
            <n-button type="primary" text>清空列表</n-button>
          </div>
        </template>
        <n-data-table
          :data="playlistState"
          :columns="tableColumns"
          :bordered="false"
          :row-props="rowProps"
        ></n-data-table>
      </n-drawer-content>
    </n-drawer>

    <PlayDetail v-model:visible="playDetailVisible"></PlayDetail>
  </div>
</template>

<script setup lang="ts">
import { h, handleError, onMounted, ref, watch } from 'vue'
import { currentSongState, volumeState, songState, playlistState, playModeState } from '@/utils/storage'
import { DataTableColumns, NIcon, NTag, useMessage } from 'naive-ui'
import SvgIcon from '@/components/SvgIcon/index.vue'
import { formatTime } from '@/utils'
import { useRouter } from 'vue-router'
import request from '@/utils/request'
import PlayDetail from '@/views/playDetail/index.vue'

const router = useRouter()
const message = useMessage()

const playlistVisible = ref(false)

const audioRef = ref<HTMLAudioElement | null>(null)

const isPlaying = ref(false)

watch(
  () => songState.value.url,
  () => {
    setTimeout(() => {
      audioRef.value?.play()
      isPlaying.value = true
    })
  }
)

const togglePlay = () => {
  if (audioRef.value?.paused) {
    audioRef.value?.play()
    isPlaying.value = true
  } else {
    audioRef.value?.pause()
    isPlaying.value = false
  }
}

const updateCurrentTime = (value: number) => {
  audioRef.value && (audioRef.value.currentTime = value)
}

onMounted(() => {
  songState.value?.currentTime && (audioRef.value!.currentTime = songState.value.currentTime)
})

const tableColumns: DataTableColumns = [
  {
    title: '歌名',
    key: 'name',
    render: (row: any) => {
      return h('div', { class: 'flex items-center gap-2' }, [
        h(
          'div',
          {
            class: 'text-sm'
          },
          row.name
        ),
        row.mv !== 0
          ? h(
              NTag,
              {
                type: 'success',
                size: 'small',
                class: '!cursor-pointer',
                onClick: (e: Event) => {
                  router.push(`/mv/${row.mv}`)
                }
              },
              { default: () => h('span', 'MV') }
            )
          : null,
        row.fee === 1
          ? h(
              NTag,
              {
                type: 'error',
                size: 'small'
              },
              { default: () => h('span', 'VIP') }
            )
          : null
      ])
    }
  },
  {
    title: '歌手',
    key: 'artists',
    render: (row: any) => {
      return row.ar.map((item: any) => item.name).join('/')
    }
  },
  {
    title: '时长',
    width: '100',
    key: 'duration',
    render: (row: any) => {
      return formatTime(row.dt)
    }
  }
]

const rowProps = (row: any) => {
  return {
    class: 'cursor-pointer',
    ondblclick: async () => {
      const data = (await request.get('/check/music', {
        params: {
          id: row.id
        }
      })) as any
      if (data.success) {
        currentSongState.value = row
        const songDetail = (await request.get('/song/url', {
          params: {
            id: row.id
          }
        })) as any
        songState.value.url = songDetail.data[0].url
      } else {
        message.info('亲爱的,暂无版权')
      }
    }
  }
}

const handlePrev = async () => {
  let prevIndex = 0
  const currentIndex = playlistState.value.findIndex((item: any) => item.id === currentSongState.value.id)
  switch (playModeState.value) {
    case 'list':
      prevIndex = (currentIndex - 1 + playlistState.value.length) % playlistState.value.length
      break
    case 'random':
      prevIndex = Math.floor(Math.random() * playlistState.value.length)
      break
    case 'single':
      break
  }
  const row = playlistState.value[prevIndex]
  const data = (await request.get('/check/music', {
    params: {
      id: row.id
    }
  })) as any
  if (data.success) {
    currentSongState.value = row
    const songDetail = (await request.get('/song/url', {
      params: {
        id: row.id
      }
    })) as any
    songState.value.url = songDetail.data[0].url
  } else {
    message.info('亲爱的,暂无版权')
  }
}

const handleNext = async () => {
  let nextIndex = 0
  const currentIndex = playlistState.value.findIndex((item: any) => item.id === currentSongState.value.id)
  switch (playModeState.value) {
    case 'list':
      nextIndex = (currentIndex + 1) % playlistState.value.length
      break
    case 'random':
      nextIndex = Math.floor(Math.random() * playlistState.value.length)
      break
    case 'single':
      break
  }
  const row = playlistState.value[nextIndex]
  const data = (await request.get('/check/music', {
    params: {
      id: row.id
    }
  })) as any
  if (data.success) {
    currentSongState.value = row
    const songDetail = (await request.get('/song/url', {
      params: {
        id: row.id
      }
    })) as any
    songState.value.url = songDetail.data[0].url
  } else {
    message.info('亲爱的,暂无版权')
    handleNext()
  }
}

const playDetailVisible = ref(false)

const handleChangePlayMode = () => {
  switch (playModeState.value) {
    case 'list':
      playModeState.value = 'random'
      message.success('随机播放')
      break
    case 'random':
      playModeState.value = 'single'
      message.success('单曲循环')
      break
    case 'single':
      playModeState.value = 'list'
      message.success('列表循环')
      break
  }
}

const handleTimeupdate = () => {
  songState.value.currentTime = audioRef.value!.currentTime
}

const handleEnded = async () => {
  audioRef.value!.currentTime = 0
  await handleNext()
  if (playModeState.value === 'single') {
    audioRef.value!.play()
  }
}

const handleError = async () => {
  message.info('歌曲资源失效，正在重新加载...')
  const songDetail = (await request.get('/song/url', {
    params: {
      id: currentSongState.value.id
    }
  })) as any
  songState.value.url = songDetail.data[0].url
}
</script>

<style lang="scss" scoped>
:deep(.n-slider.n-slider--vertical .n-slider__rail) {
  width: 4px !important;
}

:deep(.n-drawer-header__main) {
  width: 100%;
}

:deep(.n-drawer-body-content-wrapper) {
  padding: 0 !important;
}

.popover-enter-active,
.popover-leave-active {
  transition: opacity 0.3s;
}

.popover-enter-from,
.popover-leave-to {
  opacity: 0;
}
</style>
