<template>
  <div class="h-full flex justify-between items-center px-10">
    <div class="flex items-center gap-10">
      <div class="text-lg font-bold min-w-[200px] text-center">{{ i18n.t('projectName') }}</div>
      <div class="flex items-center gap-2 cursor-pointer">
        <n-icon size="20" class="hover:text-green-600 duration-300" @click="router.go(-1)">
          <svg-icon name="angle-left"></svg-icon>
        </n-icon>
        <n-icon size="20" class="hover:text-green-600 duration-300" @click="router.go(1)">
          <svg-icon name="angle-right"></svg-icon>
        </n-icon>
      </div>

      <div class="relative">
        <n-input
          v-model:value="keywords"
          :placeholder="showKeyword"
          @click="dropdownVisible = true"
          @keyup.enter="handleSearch"
          clearable
        ></n-input>
        <div
          v-show="dropdownVisible"
          ref="dropdownRef"
          class="absolute top-10 z-20 w-96 bg-white dark:bg-[#2c2c32] shadow-2xl rounded"
        >
          <n-scrollbar style="max-height: 500px">
            <div class="p-4">
              <div class="flex items-center gap-2">
                <span>搜索历史</span>
                <n-popconfirm @positive-click="handleClearHistory">
                  <template #trigger>
                    <n-icon class="cursor-pointer">
                      <svg-icon name="trash-can"></svg-icon>
                    </n-icon>
                  </template>
                  是否清空历史记录？
                </n-popconfirm>
              </div>
              <div class="mt-2 flex flex-wrap">
                <div
                  v-for="(item, index) in searchHistoryState"
                  :key="index"
                  class="flex items-center gap-1 border rounded-full mr-2 mb-2 px-2 py-1"
                >
                  <span class="text-xs cursor-pointer" @click="handleClickHistory(item)">
                    {{ item }}
                  </span>
                  <n-icon class="cursor-pointer" @click="handleDeleteHistory(index)">
                    <svg-icon name="xmark"></svg-icon>
                  </n-icon>
                </div>
              </div>
            </div>
            <div class="px-4">热搜榜</div>
            <div class="">
              <div
                v-for="(item, index) in searchHot"
                :key="item.searchWord"
                class="flex items-center gap-4 p-5 hover:bg-zinc-900/30 cursor-pointer"
                @click="handleClickHistory(item.searchWord)"
              >
                <div :class="{ 'font-bold text-green-400': [0, 1, 2].includes(index) }">{{ index + 1 }}</div>
                <div :class="{ 'font-bold': [0, 1, 2].includes(index) }">{{ item.searchWord }}</div>
                <div class="text-gray-400">{{ item.score }}</div>
              </div>
            </div>
          </n-scrollbar>
        </div>
      </div>
    </div>
    <div class="flex justify-end items-center min-w-[300px]">
      <n-popover trigger="hover">
        <template #trigger>
          <n-button quaternary @click="toggle">
            <n-icon size="20">
              <svg-icon :name="isFullscreen ? 'compress' : 'expand'"></svg-icon>
            </n-icon>
          </n-button>
        </template>
        <span>{{ isFullscreen ? '退出全屏' : '全屏' }}</span>
      </n-popover>
      <n-dropdown
        trigger="hover"
        :options="[
          { label: '中文', key: 'zh', disabled: i18n.locale.value === 'zh' },
          { label: 'English', key: 'en', disabled: i18n.locale.value === 'en' }
        ]"
        @select="handleSelectLanguage"
      >
        <n-button quaternary>
          <n-icon size="20">
            <svg-icon name="language"></svg-icon>
          </n-icon>
        </n-button>
      </n-dropdown>
      <n-button quaternary>
        <n-icon size="20" @click="handleChangeTheme">
          <svg-icon v-if="!appStore.isDark" name="sun"></svg-icon>
          <svg-icon v-else name="moon"></svg-icon>
        </n-icon>
      </n-button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import useAppStore from '@/stores/modules/app'
import { useI18n } from 'vue-i18n'
import { langState } from '@/utils/storage'
import { useMessage } from 'naive-ui'
import { onClickOutside, useDark, useFullscreen, useToggle } from '@vueuse/core'
import { useRouter } from 'vue-router'
import request from '@/utils/request'
import { searchHistoryState } from '@/utils/storage'

const appStore = useAppStore()
const i18n = useI18n()
const message = useMessage()
const isDark = useDark()
const toggleTheme = useToggle(isDark)
const router = useRouter()

// 全屏切换
const { isFullscreen, toggle } = useFullscreen()

// 切换语言
const handleSelectLanguage = (value: string) => {
  langState.value = value
  i18n.locale.value = value
  message.success(i18n.t('message.changeLang'))
}

// 切换主题
const handleChangeTheme = () => {
  appStore.toggleTheme()
  message.success(i18n.t('message.changeTheme'))
  toggleTheme()
}

// 搜索关键字
const showKeyword = ref('')
// 获取默认搜索关键字
const getSearchDefault = async () => {
  const data = await request.get('/search/default')
  showKeyword.value = data.data.showKeyword
}
getSearchDefault()

// 热搜列表
const searchHot = ref([])
// 获取热搜列表
const getSearchHot = async () => {
  const data = (await request.get('/search/hot/detail')) as any
  searchHot.value = data.data
}
getSearchHot()

// 下拉框是否显示
const dropdownVisible = ref(false)

const dropdownRef = ref<HTMLElement | null>(null)
// 点击外部隐藏下拉框
onClickOutside(dropdownRef, () => {
  dropdownVisible.value = false
})

// 搜索关键字
const keywords = ref('')

// 搜索
const handleSearch = () => {
  // 如果搜索历史中已经存在该关键字，则删除
  if (searchHistoryState.value.includes(keywords.value)) {
    searchHistoryState.value.splice(searchHistoryState.value.indexOf(keywords.value), 1)
  }
  // 将搜索关键字添加到搜索历史中
  searchHistoryState.value.unshift(keywords.value)
  // 跳转到搜索页面
  router.push({ path: '/search', query: { keywords: keywords.value } })
  // 隐藏下拉框
  dropdownVisible.value = false
}

// 删除搜索历史
const handleDeleteHistory = (index: number) => {
  searchHistoryState.value.splice(index, 1)
}

// 清空搜索历史
const handleClearHistory = () => {
  searchHistoryState.value = []
}

// 点击搜索历史
const handleClickHistory = (item: string) => {
  keywords.value = item
  handleSearch()
}
</script>

<style lang="scss" scoped></style>
