<template>
  <div>
    <n-menu :options="menuOptions" @update:value="handleUpdateValue" :value="menuValue" :collapsed-width="64" />

    <n-modal v-model:show="loginModalVisible" transform-origin="center">
      <n-card style="width: 400px" size="huge" :bordered="false" role="dialog" aria-modal="true">
        <div class="flex flex-col items-center">
          <div class="text-2xl font-bold">扫码登陆</div>
          <div class="relative w-40 h-40 my-4">
            <img :src="qrCode" alt="" class="w-full h-full" />
            <div
              v-if="loginStatus === 800"
              class="absolute inset-0 bg-zinc-900/80 flex flex-col justify-center items-center gap-2"
            >
              <p>二维码已失效</p>
              <n-button type="primary" size="small" @click="getQrCode">点击刷新</n-button>
            </div>
            <div
              v-if="loginStatus === 802"
              class="absolute inset-0 bg-zinc-900/80 flex flex-col justify-center items-center"
            >
              <p>扫码成功</p>
              <p>请在手机上确认登录</p>
            </div>
          </div>
          <p>
            使用
            <span class="text-sky-400">网易云音乐APP</span>
            扫码登录
          </p>
        </div>
      </n-card>
    </n-modal>

    <n-modal
      v-model:show="logoutModalVisible"
      preset="dialog"
      title="退出登录"
      content="确定退出登录吗？"
      positive-text="确认"
      negative-text="算了"
      @positive-click="handleLogout"
    />
  </div>
</template>

<script setup lang="ts">
import { computed, h, ref, watch } from 'vue'
import { MenuOption } from 'naive-ui'
import { RouterLink, useRoute, useRouter } from 'vue-router'
import { renderIcon } from '@/utils'
import { useI18n } from 'vue-i18n'
import request from '@/utils/request'
import useUserStore from '@/stores/modules/user'

const route = useRoute()
const router = useRouter()
const i18n = useI18n()
const userStore = useUserStore()

const menuValue = computed(() => route.name as string)

// 是否登录
const isLogin = computed(() => !!userStore.userInfo?.userId)

const menuOptions: MenuOption[] = [
  {
    label: () =>
      h(
        'p',
        {
          text: true,
          onClick: () => {
            if (userStore.userInfo?.userId) {
              logoutModalVisible.value = true
            } else {
              loginModalVisible.value = true
            }
          }
        },
        {
          default: () => userStore.userInfo?.nickname || i18n.t('menus.notLogin')
        }
      ),
    key: 'loginStatus',
    icon: renderIcon('user')
  },
  {
    key: 'divider-1',
    type: 'divider'
  },
  {
    label: () =>
      h(
        RouterLink,
        { to: '/' },
        {
          default: () => i18n.t('menus.discovery')
        }
      ),
    key: 'Discovery',
    icon: renderIcon('list-music')
  },
  {
    label: () =>
      h(
        RouterLink,
        { to: '/recommend' },
        {
          default: () => i18n.t('menus.recommend')
        }
      ),
    key: 'Recommend',
    icon: renderIcon('list')
  },
  {
    label: () =>
      h(
        RouterLink,
        { to: '/latestMusic' },
        {
          default: () => i18n.t('menus.latestMusic')
        }
      ),
    key: 'LatestMusic',
    icon: renderIcon('headphones')
  },
  {
    label: () =>
      h(
        RouterLink,
        { to: '/latestMv' },
        {
          default: () => i18n.t('menus.latestMV')
        }
      ),
    key: 'LatestMv',
    icon: renderIcon('video')
  },
  {
    label: () =>
      h(
        RouterLink,
        { to: '/recommend/songs' },
        {
          default: () => i18n.t('menus.recommendSongs')
        }
      ),
    key: 'RecommendSongs',
    icon: renderIcon('heart'),
    show: isLogin.value
  },
  {
    label: () =>
      h('div', null, {
        default: () => i18n.t('menus.createPlaylist')
      }),
    key: 'CreatePlaylist',
    icon: renderIcon('user-music'),
    show: isLogin.value,
    children: userStore.playlist
      .filter((item: any) => item.creator.userId === userStore.userInfo.userId)
      .map((item: any) => ({
        label: () =>
          h(
            RouterLink,
            { to: `/playlist/${item.id}` },
            {
              default: () => item.name
            }
          ),
        key: item.id,
        icon: renderIcon('stars')
      }))
  },
  {
    label: () =>
      h('div', null, {
        default: () => i18n.t('menus.collectPlaylist')
      }),
    key: 'CollectPlaylist',
    icon: renderIcon('star'),
    show: isLogin.value,
    children: userStore.playlist
      .filter((item: any) => item.creator.userId !== userStore.userInfo.userId)
      .map((item: any) => ({
        label: () =>
          h(
            RouterLink,
            { to: `/playlist/${item.id}` },
            {
              default: () => item.name
            }
          ),
        key: item.id,
        icon: renderIcon('stars')
      }))
  }
]
const handleUpdateValue = () => {}

const loginModalVisible = ref(false)
const unikey = ref('')
const qrCode = ref('')
const loginStatus = ref(801)
let timer: any = null

// 获取unikey
const getUnikey = async () => {
  const data = (await request.get('/login/qr/key', {
    params: {
      timestamp: Date.now()
    }
  })) as any
  unikey.value = data.data.unikey
}

// 获取二维码
const getQrCode = async () => {
  await getUnikey()
  const data = (await request.get('/login/qr/create', {
    params: {
      key: unikey.value,
      qrimg: true,
      timestamp: Date.now()
    }
  })) as any
  qrCode.value = data.data.qrimg
  timer = setInterval(queryLoginStatus, 2000)
}

// 查询登录状态
const queryLoginStatus = async () => {
  const data = (await request.get('/login/qr/check', { params: { key: unikey.value, timestamp: Date.now() } })) as any
  loginStatus.value = data.code
  switch (loginStatus.value) {
    case 800:
      console.log('已过期')
      if (timer) {
        clearInterval(timer)
        timer = null
      }
      break
    case 801:
      console.log('待扫码')
      break
    case 802:
      console.log('待确认')
      break
    case 803:
      console.log('已确认')
      if (timer) {
        clearInterval(timer)
        timer = null
      }
      userStore.setCookie(data.cookie)
      loginModalVisible.value = false
      await userStore.getUserInfo()
      await userStore.getUserPlaylist()
      router.go(0)
      break
    default:
      break
  }
}

// 监听登录弹窗
watch(loginModalVisible, val => {
  if (val) { // 打开弹窗
    getQrCode()
  } else { // 关闭弹窗
    if (timer) {
      // 清除定时器
      clearInterval(timer)
      timer = null
    }
  }
})

const logoutModalVisible = ref(false)
// 退出登录
const handleLogout = () => {
  userStore.logout().then(() => {
    router.go(0)
  })
}
</script>

<style lang="scss" scoped></style>
