<template>
  <div>
    <div class="relative w-full h-40 flex justify-between items-center rounded-lg overflow-hidden">
      <div
        class="absolute inset-0 object-cover blur-lg"
        :style="`background-image: url(${playList[0]?.coverImgUrl})`"
      ></div>
      <div class="absolute z-10 w-full h-full bg-black/20 p-4 flex gap-4">
        <div class="h-full rounded overflow-hidden shrink-0">
          <img :src="playList[0]?.coverImgUrl" alt="" class="h-full rounded hover:scale-125 duration-500" />
        </div>
        <n-space vertical>
          <n-tag type="success">{{ tagValue }}</n-tag>
          <p class="text-gray-200">{{ playList[0]?.name }}</p>
          <p
            class="text-xs text-gray-200 overflow-hidden"
            style="-webkit-line-clamp: 4; -webkit-box-orient: vertical; display: -webkit-box; text-overflow: ellipsis"
          >
            {{ playList[0]?.description }}
          </p>
        </n-space>
      </div>
    </div>

    <n-scrollbar x-scrollable class="!sticky !top-0 !z-10">
      <n-tabs default-value="全部" class="!py-4 bg-white dark:bg-[#101014]" @update:value="handleChangeTab">
        <n-tab v-for="item in tagList" :key="item.id" :name="item.name"></n-tab>
      </n-tabs>
    </n-scrollbar>

    <n-grid :cols="5" :x-gap="24" :y-gap="24">
      <n-grid-item v-for="item in playList" :key="item.id">
        <MusicCard :data="item"></MusicCard>
      </n-grid-item>
    </n-grid>
    <Loading :is-loading="isLoading" :is-finished="isFinished" @load="handleLoad"></Loading>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import request from '@/utils/request'
import MusicCard from '@/components/MusicCard/index.vue'
import Loading from '@/components/Loading/index.vue'

const tagList = ref()
const tagValue = ref('全部')
// 获取标签列表
const getTagList = async () => {
  const data = (await request.get('/playlist/highquality/tags')) as any
  tagList.value = [{ id: 'all', name: '全部' }].concat(data.tags)
}
getTagList()

// 歌单列表
const playList = ref<any>([])
// 获取歌单列表
const getPlaylist = async (before?: string) => {
  const data = (await request.get(
    `/top/playlist/highquality?limit=30&cat=${tagValue.value}${before ? '&before=' + before : ''}`
  )) as any
  playList.value = playList.value.concat(data.playlists)
  isFinished.value = !data.more
}

// 切换标签
const handleChangeTab = (tag: string) => {
  tagValue.value = tag
  playList.value = []
  getPlaylist()
}

const isLoading = ref(false)
const isFinished = ref(false)

// 加载更多
const handleLoad = async () => {
  isLoading.value = true
  if (playList.value.length === 0) {
    await getPlaylist()
  } else {
    const before = playList.value[playList.value.length - 1].updateTime
    await getPlaylist(before)
  }
  isLoading.value = false
}
</script>

<style lang="scss" scoped>
:deep(.n-tabs-bar) {
  display: none;
}
</style>
