<template>
  <teleport to="body">
    <transition name="popover" mode="in-out">
      <n-el
        tag="div"
        v-show="visible"
        class="absolute inset-0 z-50 overflow-y-auto"
        style="color: var(--text-color-base); background-color: var(--base-color)"
      >
        <n-scrollbar>
          <div class="p-10">
            <div class="h-10 px-10 sticky top-10">
              <n-icon size="24" class="cursor-pointer" @click="emits('update:visible', false)">
                <svg-icon name="chevron-down"></svg-icon>
              </n-icon>
            </div>
            <div class="flex gap-4">
              <div class="w-1/3">
                <div class="w-full flex justify-center">
                  <div class="w-80 rounded-full">
                    <img
                      :src="currentSongState.al.picUrl"
                      alt=""
                      class="w-full h-full rounded-full animate-spin"
                      style="animation-duration: 10s"
                    />
                  </div>
                </div>
              </div>
              <div class="w-1/3">
                <div class="text-center text-2xl font-bold">{{ currentSongState.name }}</div>
                <div class="text-center py-4 text-zinc-400">
                  {{ currentSongState.al?.name }} - {{ currentSongState.ar?.map(item => item.name).join(' / ') }}
                </div>
                <div class="h-96 mt-4">
                  <n-scrollbar ref="scrollbarRef">
                    <div class="h-40"></div>
                    <div
                      ref="lyricsRef"
                      v-for="(item, index) in lyricsList"
                      :key="index"
                      class="text-center leading-8"
                      :class="{ 'text-green-400 text-lg font-bold': isActiveLyric(index) }"
                    >
                      {{ item.text }}
                    </div>
                  </n-scrollbar>
                </div>
                <div class="mt-40">
                  <Comment :id="currentSongState.id + ''" type="music"></Comment>
                </div>
              </div>
              <div class="w-1/3 px-40 py-20">
                <div class="h-96">
                  <n-scrollbar>
                    <div class="text-lg font-bold">包含这首歌的歌单</div>
                    <n-divider></n-divider>
                    <div
                      v-for="item in simPlayList"
                      :key="item.id"
                      class="mb-4 flex gap-2 cursor-pointer"
                      @click="handleClickPlaylist(item.id)"
                    >
                      <div class="w-12 h-12 rounded">
                        <img v-lazyload="item.coverImgUrl" alt="" class="w-full h-full rounded" />
                      </div>
                      <div class="flex flex-col justify-center gap-2 text-xs">
                        <div>{{ item.name }}</div>
                        <div>by {{ item.creator.nickname }}</div>
                      </div>
                    </div>
                    <div class="text-lg font-bold">喜欢这首歌的人也喜欢</div>
                    <n-divider></n-divider>
                    <div v-for="item in simSongList" :key="item.id" class="mb-4 flex gap-2 cursor-pointer" @click="handleClickSong(item)">
                      <div class="w-12 h-12 rounded">
                        <img v-lazyload="item.album.blurPicUrl" alt="" class="w-full h-full rounded" />
                      </div>
                      <div class="flex flex-col justify-center gap-2 text-xs">
                        <div>{{ item.name }}</div>
                        <div>by {{ item.artists.map(item => item.name).join(' / ') }}</div>
                      </div>
                    </div>
                  </n-scrollbar>
                </div>
              </div>
            </div>
          </div>
        </n-scrollbar>
      </n-el>
    </transition>
  </teleport>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import { currentSongState, songState } from '@/utils/storage'
import request from '@/utils/request'
import { ScrollbarInst, useMessage } from 'naive-ui'
import Comment from '@/components/Comment/index.vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const message = useMessage()

interface Props {
  visible: boolean
}

const props = defineProps<Props>()

interface Emits {
  (event: 'update:visible', value: boolean): void
}

const emits = defineEmits<Emits>()

// 监听歌曲变化
watch(
  () => currentSongState.value.id,
  () => {
    getLyrics()
    getSimPlayList()
    getSimSong()
  }
)

// 歌词
const lyrics = ref('')
// 获取歌词
const getLyrics = async () => {
  const data = (await request.get(`/lyric?id=${currentSongState.value.id}`)) as any
  lyrics.value = data.lrc?.lyric || ''
  parseLyrics(lyrics.value)
}
getLyrics()

// 将时间转换为秒
// [00:00.000] 作词 : 许嵩\n[00:01.000] 作曲 : 许嵩\n[00:02.000] 编曲 : 杨阳/黄钰\n[00:03.000] 制作人 : 许嵩
function convertToSeconds(timeString: string) {
  const [minutes, seconds] = timeString.split(':').map(parseFloat)
  return minutes * 60 + seconds
}

interface Lyrics {
  time: number
  text: string
}

// 歌词列表
const lyricsList = ref<Lyrics[]>([])
// 解析歌词
/*
* [
*   {
*     time: 0,
*     text: '作词 : 许嵩'
*   },
*   {
*     time: 1,
*     text: '作曲 : 许嵩'
*   }
* ]
* */
const parseLyrics = (lyrics: string) => {
  lyricsList.value = []
  const lines = lyrics.split('\n')
  for (let i = 0; i < lines.length; i++) {
    const line = lines[i].trim()
    if (line !== '') {
      const match = line.match(/\[([0-9:.]+)\] *(.*)/)
      if (match && match.length === 3) {
        const time = match[1]
        const text = match[2]
        lyricsList.value.push({
          time: convertToSeconds(time),
          text
        })
      }
    }
  }
}

const activeLyricIndex = ref(0)
const lyricsRef = ref<HTMLElement[] | null>(null)
const scrollbarRef = ref<ScrollbarInst | null>(null)
// 监听歌曲播放时间
watch(
  () => songState.value.currentTime,
  value => {
    // 找到当前播放的歌词
    const lyricIndex = lyricsList.value.findIndex(item => item.time > value)
    // 如果找到了并且不是当前的歌词
    if (lyricIndex !== -1 && lyricIndex - 1 !== activeLyricIndex.value) {
      // 设置当前歌词
      activeLyricIndex.value = lyricIndex - 1
      // 滚动到当前歌词
      scrollbarRef.value?.scrollTo({
        top: activeLyricIndex.value * 32,
        behavior: 'smooth'
      })
    }
  }
)

// 判断是否是当前歌词
const isActiveLyric = (index: number) => {
  return index === activeLyricIndex.value
}

// 相似歌单
const simPlayList = ref<any>([])
// 获取相似歌单
const getSimPlayList = async () => {
  const data = (await request.get(`/simi/playlist?id=${currentSongState.value.id}`)) as any
  simPlayList.value = data.playlists.slice(0, 3)
}
getSimPlayList()

// 相似歌曲
const simSongList = ref<any>([])
const getSimSong = async () => {
  const data = (await request.get(`/simi/song?id=${currentSongState.value.id}`)) as any
  simSongList.value = data.songs
}
getSimSong()

// 点击相似歌单
const handleClickPlaylist = (id: number) => {
  // 跳转到歌单详情
  router.push(`/playlist/${id}`)
  // 关闭弹窗
  emits('update:visible', false)
}

// 点击相似歌曲
const handleClickSong = async (row: any) => {
  const data = (await request.get('/check/music', {
    params: {
      id: row.id
    }
  })) as any
  if (data.success) {
    const data = (await request.get(`/song/detail?ids=${row.id}`)) as any
    currentSongState.value = data.songs[0]
    const songDetail = (await request.get('/song/url', {
      params: {
        id: row.id
      }
    })) as any
    songState.value.url = songDetail.data[0].url
  } else {
    message.info('亲爱的,暂无版权')
  }
}
</script>

<style lang="scss" scoped>
.popover-enter-active,
.popover-leave-active {
  transition: all 0.3s ease-in-out;
}

.popover-enter-from,
.popover-leave-to {
  transform: translateY(100%);
  opacity: 0;
}
</style>
