<template>
  <div class="px-10">
    <n-carousel
      effect="card"
      dot-type="line"
      prev-slide-style="transform: translateX(-150%) translateZ(-450px);"
      next-slide-style="transform: translateX(50%) translateZ(-450px);"
      style="height: 250px"
      :show-dots="true"
    >
      <n-carousel-item v-for="item in banners" :key="item.encodeId" :style="{ width: '50%', borderRadius: '0.25rem' }">
        <img class="w-full h-full rounded cursor-pointer hover:scale-125 duration-500" v-lazyload="item.imageUrl" />
      </n-carousel-item>
    </n-carousel>

    <div class="my-10 text-xl">推荐歌单</div>

    <n-grid :cols="5" :x-gap="24" :y-gap="24">
      <n-grid-item v-for="item in musicList" :key="item.id">
        <MusicCard :data="item"></MusicCard>
      </n-grid-item>
    </n-grid>

    <div class="my-10 text-xl">最新音乐</div>

    <div class="flex flex-wrap justify-between items-center gap-1">
      <div
        v-for="item in newMusicList"
        :key="item.id"
        class="w-[33%] h-16 hover:bg-zinc-900/10 rounded duration-300 flex truncate cursor-pointer mb-2"
        @click="handleClickSong(item.id)"
      >
        <div class="relative w-16 h-16 rounded overflow-hidden shrink-0">
          <img v-lazyload="item.picUrl" alt="" class="w-full h-full rounded hover:scale-125 duration-500" />
          <div
            class="absolute inset-1/2 transform -translate-x-1/2 -translate-y-1/2 w-6 h-6 bg-white/90 rounded-full flex justify-center items-center"
          >
            <n-icon color="#63e2b7">
              <svg-icon name="play-solid"></svg-icon>
            </n-icon>
          </div>
        </div>
        <div class="flex flex-col justify-around ml-2">
          <div>{{ item.name }}</div>
          <div class="text-sm text-gray-400">{{ item.song.artists.map(itm => itm.name).join('/') }}</div>
        </div>
      </div>
    </div>

    <div class="my-10 text-xl">最新MV</div>

    <n-grid :cols="4" :x-gap="24" :y-gap="24">
      <n-grid-item v-for="item in newMvList" :key="item.id">
        <MovieCard :data="item"></MovieCard>
      </n-grid-item>
    </n-grid>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import request from '@/utils/request'
import MusicCard from '@/components/MusicCard/index.vue'
import MovieCard from '@/components/MovieCard/index.vue'
import { currentSongState, songState } from '@/utils/storage'
import { useMessage } from 'naive-ui'

const message = useMessage()

// 轮播图列表
const banners = ref()
// 获取轮播图列表
const getBannerList = async () => {
  const data = (await request.get('/banner')) as any
  banners.value = data.banners
}
getBannerList()

// 歌单列表
const musicList = ref()
// 获取歌单列表
const getRecommendMusicList = async () => {
  const data = (await request.get('/personalized?limit=15')) as any
  musicList.value = data.result
}
getRecommendMusicList()

// 最新音乐列表
const newMusicList = ref()
// 获取最新音乐列表
const getNewMusicList = async () => {
  const data = (await request.get('/personalized/newsong?limit=9')) as any
  newMusicList.value = data.result
  console.log(data.result)
}
getNewMusicList()

// 最新MV列表
const newMvList = ref()
// 获取最新MV列表
const getNewMvList = async () => {
  const data = (await request.get('/personalized/mv?limit=9')) as any
  newMvList.value = data.result
}
getNewMvList()

// 点击歌曲
const handleClickSong = async (id: number) => {
  const data = (await request.get('/check/music', {
    params: {
      id
    }
  })) as any
  if (data.success) {
    const data = (await request.get(`/song/detail?ids=${id}`)) as any
    currentSongState.value = data.songs[0]
    const songDetail = (await request.get('/song/url', {
      params: {
        id
      }
    })) as any
    songState.value.url = songDetail.data[0].url
  } else {
    message.info('亲爱的,暂无版权')
  }
}
</script>

<style lang="scss" scoped>
.carousel-img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
