<template>
  <div>
    <div class="h-52 flex">
      <div class="w-52 h-52 shrink-0 rounded">
        <img :src="playlistDetail?.coverImgUrl" alt="" class="w-full h-full rounded" />
      </div>
      <div class="flex flex-col justify-between ml-8">
        <div class="flex items-center gap-2">
          <n-tag type="success">歌单</n-tag>
          <div class="text-2xl font-bold">{{ playlistDetail?.name }}</div>
        </div>
        <div class="flex gap-4">
          <n-button type="primary" round @click="handlePlayAll">
            <template #icon>
              <n-icon size="14">
                <svg-icon name="play-solid"></svg-icon>
              </n-icon>
            </template>
            <span>播放全部</span>
            <div class="ml-4">
              <n-tooltip placement="bottom-start" trigger="hover">
                <template #trigger>
                  <n-icon size="16">
                    <svg-icon name="plus"></svg-icon>
                  </n-icon>
                </template>
                <span>添加全部到播放列表</span>
              </n-tooltip>
            </div>
          </n-button>
          <n-button class="ml-2" round>
            <template #icon>
              <n-icon size="16">
                <svg-icon name="star"></svg-icon>
              </n-icon>
            </template>
            <span>收藏({{ playlistDetail?.subscribedCount }})</span>
          </n-button>
          <n-button class="ml-2" round @click="handleShare">
            <template #icon>
              <n-icon size="16">
                <svg-icon name="share-nodes"></svg-icon>
              </n-icon>
            </template>
            <span>分享</span>
          </n-button>
        </div>
        <div class="flex items-center">
          <n-avatar :src="playlistDetail?.creator?.avatarUrl" size="small" class="mr-2"></n-avatar>
          <div class="text-sm text-blue-400">{{ playlistDetail?.creator?.nickname }}</div>
          <div class="text-sm ml-2">{{ formatDate(new Date(playlistDetail?.createTime), 'yyyy-MM-dd') }} 创建</div>
        </div>
        <div class="flex items-center">
          <span>标签：</span>
          <n-tag v-for="tag in playlistDetail?.tags" :key="tag" type="info" size="small" class="mr-2">{{ tag }}</n-tag>
        </div>
        <p
          class="overflow-hidden"
          style="-webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; text-overflow: ellipsis"
        >
          {{ playlistDetail?.description }}
        </p>
      </div>
    </div>

    <div class="mt-20 h-full">
      <n-tabs animated>
        <n-tab-pane name="playlist" tab="歌曲列表">
          <SongList :data="musicList"></SongList>
        </n-tab-pane>
        <n-tab-pane name="comments" :tab="`评论(${playlistDetail?.commentCount})`">
          <Comment :id="id" type="playlist"></Comment>
        </n-tab-pane>
      </n-tabs>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import request from '@/utils/request'
import { formatDate } from '@/utils'
import SvgIcon from '@/components/SvgIcon/index.vue'
import SongList from '@/components/SongList/index.vue'
import Comment from '@/components/Comment/index.vue'
import { currentSongState, playlistState, songState } from '@/utils/storage'
import { useMessage } from 'naive-ui'
import { useClipboard } from '@vueuse/core'
import axios from 'axios'

const route = useRoute()
const router = useRouter()
const message = useMessage()

const id = route.params.id as string

const playlistDetail = ref()
const getPlaylistDetail = async () => {
  const res = (await request.get('/playlist/detail', {
    params: {
      id: route.params.id
    }
  })) as any
  playlistDetail.value = res.playlist
  axios.post('http://localhost:3001/playlist', {
    id: res.playlist.id,
    name: res.playlist.name,
    description: res.playlist.description,
    coverImgUrl: res.playlist.coverImgUrl,
    creator: res.playlist.creator.userId,
    tags: res.playlist.tags,
    songs: res.playlist.trackIds,
    playCount: res.playlist.playCount,
    subscribedCount: res.playlist.subscribedCount,
    commentCount: res.playlist.commentCount,
    shareCount: res.playlist.shareCount,
    createTime: res.playlist.createTime,
  })
}
getPlaylistDetail()

const musicList = ref()
const getMusicList = async () => {
  const res = (await request.get('/playlist/track/all', {
    params: {
      id: route.params.id
    }
  })) as any
  musicList.value = res.songs
}
getMusicList()

const handlePlayAll = async () => {
  playlistState.value = musicList.value
  const data = (await request.get('/check/music', {
    params: {
      id: musicList.value[0].id
    }
  })) as any
  if (data.success) {
    currentSongState.value = musicList.value[0]
    const songDetail = (await request.get('/song/url', {
      params: {
        id: musicList.value[0].id
      }
    })) as any
    songState.value.url = songDetail.data[0].url
  } else {
    message.info('亲爱的,暂无版权')
  }
}

const { copy } = useClipboard()
const handleShare = () => {
  copy(`https://music.163.com/#/playlist?id=${route.params.id}`)
  message.success('已复制到剪贴板')
}
</script>

<style lang="scss" scoped></style>
