<template>
  <div>
    <div class="flex flex-col gap-6">
      <div class="flex items-center">
        <div>地区：</div>
        <div
          v-for="(item, index) in areaList"
          :key="item.id"
          class="py-1 px-4 rounded-full cursor-pointer duration-300 mx-4"
          :class="[areaIndex === item.id ? 'bg-[#18a058] hover:bg-[#36ad6a] text-white' : 'hover:bg-zinc-900/10']"
          @click="areaIndex = index"
        >
          {{ item.name }}
        </div>
      </div>
      <div class="flex items-center">
        <div>类型：</div>
        <div
          v-for="(item, index) in typeList"
          :key="item.id"
          class="py-1 px-4 rounded-full cursor-pointer duration-300 mx-4"
          :class="[typeIndex === item.id ? 'bg-[#18a058] hover:bg-[#36ad6a] text-white' : 'hover:bg-zinc-900/10']"
          @click="typeIndex = index"
        >
          {{ item.name }}
        </div>
      </div>
      <div class="flex items-center">
        <div class="mr-4">排序：</div>
        <div
          v-for="(item, index) in sortList"
          :key="item.id"
          class="py-1 px-4 rounded-full cursor-pointer duration-300 mx-4"
          :class="[sortIndex === item.id ? 'bg-[#18a058] hover:bg-[#36ad6a] text-white' : 'hover:bg-zinc-900/10']"
          @click="sortIndex = index"
        >
          {{ item.name }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <n-grid v-if="mvList && mvList.length !== 0" :cols="4" :x-gap="24" :y-gap="24">
        <n-grid-item v-for="item in mvList" :key="item.id">
          <MovieCard :data="item"></MovieCard>
        </n-grid-item>
      </n-grid>
      <n-empty v-else description="暂无数据" />
    </div>

    <div class="flex justify-end mt-4">
      <n-pagination
        v-model:page="pagination.current"
        v-model:page-size="pagination.pageSize"
        :item-count="pagination.total"
        show-size-picker
        :page-sizes="[20, 40, 60]"
        @update:page="handleChangePage"
        @update:page-size="handleChangePageSze"
      ></n-pagination>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import request from '@/utils/request'
import MovieCard from '@/components/MovieCard/index.vue'
import axios from 'axios'

const areaList = [
  {
    id: 0,
    name: '全部'
  },
  {
    id: 1,
    name: '内地'
  },
  {
    id: 2,
    name: '港台'
  },
  {
    id: 3,
    name: '欧美'
  },
  {
    id: 4,
    name: '日本'
  },
  {
    id: 5,
    name: '韩国'
  },
  {
    id: 6,
    name: '其他'
  }
]
const areaIndex = ref(0)

const typeList = [
  {
    id: 0,
    name: '全部'
  },
  {
    id: 1,
    name: '官方版'
  },
  {
    id: 2,
    name: '原生'
  },
  {
    id: 3,
    name: '现场版'
  },
  {
    id: 4,
    name: '网易出品'
  }
]
const typeIndex = ref(0)

const sortList = [
  {
    id: 0,
    name: '上升最快'
  },
  {
    id: 1,
    name: '最热'
  },
  {
    id: 2,
    name: '最新'
  }
]
const sortIndex = ref(0)

const pagination = ref({
  current: 1,
  pageSize: 20,
  total: 0
})

// mv列表
const mvList = ref()
// 获取mv列表
const getMvList = async () => {
  const data = (await request.get('/mv/all', {
    params: {
      area: areaList[areaIndex.value].name,
      type: typeList[typeIndex.value].name,
      order: sortList[sortIndex.value].name,
      limit: pagination.value.pageSize,
      offset: (pagination.value.current - 1) * pagination.value.pageSize
    }
  })) as any
  if (data.code !== 200) return (mvList.value = [])
  mvList.value = data.data
  data.count && (pagination.value.total = data.count)
  axios.post('http://localhost:3001/latestMv', {
    data: data.data
  })
}
getMvList()

// 监听地区、类型、排序变化，重新获取mv列表
watch([areaIndex, typeIndex, sortIndex], () => {
  getMvList()
})

// 页码改变
const handleChangePage = (page: number) => {
  pagination.value.current = page
  getMvList()
}

// 页码大小改变
const handleChangePageSze = (size: number) => {
  pagination.value.pageSize = size
  getMvList()
}
</script>

<style lang="scss" scoped></style>
