<template>
  <div class="">
    <n-tabs
      default-value="全部"
      class="absolute left-0 top-0 z-10 p-[24px] bg-white dark:bg-[#101014]"
      @update:value="handleChangeTab"
    >
      <n-tab v-for="item in tagList" :key="item.id" :name="item.name"></n-tab>
    </n-tabs>
    <div class="mt-[60px] px-10">
      <n-data-table :data="playList" :columns="tableColumns" :bordered="false" :row-props="rowProps"></n-data-table>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, h, ref } from 'vue'
import request from '@/utils/request'
import type { DataTableColumns } from 'naive-ui'
import { formatTime } from '@/utils'
import SvgIcon from '@/components/SvgIcon/index.vue'
import { NTag } from 'naive-ui'
import { useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { currentSongState, playlistState, songState } from '@/utils/storage'
import { useMessage } from 'naive-ui'
import axios from 'axios'

const router = useRouter()
const i18n = useI18n()
const message = useMessage()

const tagList = computed(() => [
  {
    id: 0,
    name: i18n.t('latestMusic.all')
  },
  {
    id: 7,
    name: i18n.t('latestMusic.chinese')
  },
  {
    id: 96,
    name: i18n.t('latestMusic.western')
  },
  {
    id: 8,
    name: i18n.t('latestMusic.japan')
  },
  {
    id: 16,
    name: i18n.t('latestMusic.korea')
  }
])
const tagIndex = ref(0)

const tableColumns: DataTableColumns = [
  {
    title: '序号',
    key: 'index',
    render: (row: any, index: number) => {
      return (index + 1 + '').padStart(2, '0')
    }
  },
  {
    title: '封面',
    key: 'cover',
    render: (row: any) => {
      return h(
        'div',
        {
          class: 'relative w-12 h-12 rounded overflow-hidden'
        },
        [
          h('img', {
            src: row.album.picUrl,
            alt: row.name,
            class: 'w-full h-full rounded hover:scale-125 duration-500'
          }),
          h(
            'div',
            {
              class:
                'absolute inset-1/2 transform -translate-x-1/2 -translate-y-1/2 w-6 h-6 bg-white/90 rounded-full flex justify-center items-center'
            },
            [h('n-icon', {}, [h(SvgIcon, { name: 'play-solid', color: '#63e2b7' })])]
          )
        ]
      )
    }
  },
  {
    title: '歌名',
    key: 'name',
    render: (row: any) => {
      return h('div', {}, [
        h('span', row.name),
        row.mvid !== 0
          ? h(
              NTag,
              {
                type: 'success',
                size: 'small',
                class: 'ml-2 cursor-pointer',
                onClick: () => router.push(`/mv/${row.mvid}`)
              },
              { default: () => h('span', 'MV') }
            )
          : null
      ])
    }
  },
  {
    title: '歌手',
    key: 'artists',
    render: (row: any) => {
      return row.artists.map((item: any) => item.name).join('/')
    }
  },
  {
    title: '专辑',
    key: 'album',
    render: (row: any) => {
      return row.album.name
    }
  },
  {
    title: '时长',
    key: 'duration',
    render: (row: any) => {
      return formatTime(row.duration)
    }
  }
]

// 歌曲列表
const playList = ref()
// 获取歌曲列表
const getSongList = async () => {
  const data = (await request.get(`/top/song?type=${tagList.value[tagIndex.value].id}`)) as any
  playList.value = data.data
  /*
  * id: { // 歌曲id
    type: Number,
    required: true,
    unique: true
  },
  name: { // 歌曲名
    type: String
  },
  singer: { // 歌手
    type: String
  },
  album: { // 专辑
    type: String
  },
  albumId: { // 专辑id
    type: Number
  },
  duration: { // 歌曲时长
    type: Number
  },
  image: { // 歌曲封面
    type: String
  }
  * */
  axios.post('http://localhost:3001/latestMusic', {
    data: data.data
  })
}
getSongList()

// 切换标签
const handleChangeTab = (tag: string) => {
  tagIndex.value = tagList.value.findIndex((item) => item.name === tag)
  getSongList()
}

const rowProps = (row: any) => {
  return {
    class: 'cursor-pointer',
    ondblclick: async () => {
      playlistState.value = playList.value
      const data = (await request.get('/check/music', {
        params: {
          id: row.id
        }
      })) as any
      if (data.success) {
        const data = (await request.get(`/song/detail?ids=${row.id}`)) as any
        currentSongState.value = data.songs[0]
        const songDetail = (await request.get('/song/url', {
          params: {
            id: row.id
          }
        })) as any
        songState.value.url = songDetail.data[0].url
      } else {
        message.info('亲爱的,暂无版权')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
:deep(thead) {
  display: none;
}
</style>
