<template>
  <n-layout position="absolute">
    <n-layout-header style="height: 64px" bordered>
      <Navbar></Navbar>
    </n-layout-header>
    <n-layout has-sider position="absolute" style="top: 64px; bottom: 64px">
      <n-layout-sider :native-scrollbar="false" collapse-mode="width" :collapsed-width="64" show-trigger="bar" bordered>
        <Sidebar></Sidebar>
      </n-layout-sider>
      <n-layout :native-scrollbar="false" content-style="padding: 24px;">
        <AppMain></AppMain>
      </n-layout>
    </n-layout>
    <n-layout-footer bordered position="absolute" style="height: 80px;">
      <Footer></Footer>
    </n-layout-footer>
  </n-layout>
</template>

<script setup lang="ts">
import {} from 'vue'
import Navbar from './components/Navbar.vue'
import Sidebar from './components/Sidebar.vue'
import AppMain from './components/AppMain.vue'
import Footer from '@/layout/components/Footer.vue'
</script>

<style lang="scss" scoped></style>
