<template>
  <div class="flex gap-8">
    <div class="w-3/4">
      <div class="text-xl font-bold">MV详情</div>
      <div class="w-full h-auto h-40 py-4">
        <video :src="mvUrl" controls class="w-full"></video>
      </div>

      <div class="flex gap-6 my-4">
        <div class="w-20 h-20 rounded-full shrink-0">
          <img :src="mvDetail?.artists[0].img1v1Url" alt="" class="w-full h-full rounded-full" />
        </div>
        <div>
          <div class="text-lg">{{ mvDetail?.artists[0].name }}</div>
          <n-popover trigger="hover" content-style="max-width: 1000px;">
            <template #trigger>
              <div
                class="overflow-hidden"
                style="
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  display: -webkit-box;
                  text-overflow: ellipsis;
                "
              >
                {{ artistDetail?.briefDesc }}
              </div>
            </template>
            <span>{{ artistDetail?.briefDesc }}</span>
          </n-popover>
        </div>
      </div>

      <div class="text-2xl font-bold leading-10">{{ artistDetail?.name }}</div>

      <div class="text-xs py-4 overflow-hidden">
        <span>发布：</span>
        <span>{{ mvDetail?.publishTime }}</span>
        <span>播放：</span>
        <span>{{ mvDetail?.playCount }}</span>
      </div>

      <div class="text-xl font-bold my-8">评论</div>
      <Comment :id="id" type="mv"></Comment>
    </div>
    <div class="w-1/4">
      <div class="text-xl font-bold mb-4">相关推荐</div>
      <div
        v-for="item in simMvList"
        :key="item.id"
        class="w-full h-auto overflow-hidden flex items-center gap-4 mb-8"
        @click="router.push(`/mv/${item.id}`)"
      >
        <div class="relative w-2/3 h-40 rounded overflow-hidden group cursor-pointer shrink-0">
          <img
            v-lazyload="item.picUrl || item.cover"
            alt=""
            class="w-full h-full rounded group-hover:scale-125 duration-500"
          />
          <div class="absolute inset-0 bg-zinc-800/50 hidden group-hover:block"></div>
          <div
            class="absolute inset-1/2 transform -translate-x-1/2 -translate-y-1/2 w-10 h-10 bg-white/90 rounded-full opacity-0 group-hover:opacity-100 duration-300 flex justify-center items-center"
          >
            <n-icon color="#63e2b7" size="22">
              <svg-icon name="play-solid"></svg-icon>
            </n-icon>
          </div>
          <div class="absolute top-2 right-4 text-gray-100 flex items-center gap-1">
            <n-icon>
              <svg-icon name="play"></svg-icon>
            </n-icon>
            <span>{{ formatNumber(item.playCount) }}</span>
          </div>
          <div class="absolute right-4 bottom-4 text-gray-100">
            {{ formatTime(item.duration) }}
          </div>
          <div
            v-if="item.copywriter"
            class="absolute left-0 top-0 w-full h-[30px] leading-[30px] bg-zinc-900/70 text-white text-center -translate-y-full group-hover:translate-y-0 duration-300"
          >
            {{ item.copywriter }}
          </div>
        </div>
        <div class="w-1/3">
          <p class="my-1 truncate">{{ item.name }}</p>
          <p class="text-sm text-gray-400">{{ item.artistName }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import request from '@/utils/request'
import Comment from '@/components/Comment/index.vue'
import { formatNumber, formatTime } from '@/utils'
import axios from 'axios'

const route = useRoute()
const router = useRouter()

const id = route.params.id as string

// MV详情
const mvDetail = ref()
// 获取MV详情
const getMvDetail = async () => {
  const data = (await request.get('/mv/detail', {
    params: {
      mvid: route.params.id
    }
  })) as any
  mvDetail.value = data.data
  getArtistDetail(mvDetail.value.artists[0].id)

  axios.post('http://localhost:3001/mv', {
    id: data.data.id,
    name: data.data.name,
    singer: data.data.artists,
    duration: data.data.duration,
    image: data.data.cover,
    playCount: data.data.playCount,
    publishTime: data.data.publishTime,
    shareCount: data.data.shareCount,
    subCount: data.data.subCount,
    commentCount: data.data.commentCount
  })
}
getMvDetail()

// MV播放地址
const mvUrl = ref('')
// 获取MV播放地址
const getMvUrl = async () => {
  const data = (await request.get('/mv/url', {
    params: {
      id: route.params.id
    }
  })) as any
  mvUrl.value = data.data.url
}
getMvUrl()

// 歌手详情
const artistDetail = ref()
// 获取歌手详情
const getArtistDetail = async (id: string) => {
  const data = (await request.get('/artists/url', {
    params: {
      id
    }
  })) as any
  artistDetail.value = data.artist
}

// 相关推荐
const simMvList = ref()
// 获取相关推荐
const getSimMvList = async () => {
  const data = (await request.get('/simi/mv', {
    params: {
      mvid: route.params.id
    }
  })) as any
  simMvList.value = data.mvs
}
getSimMvList()
</script>

<style lang="scss" scoped></style>
