<template>
  <div>
    <div class="text-xl font-bold mb-4">搜索 {{ route.query.keywords }}</div>

    <n-tabs type="line" animated @update:value="handleChangeTab">
      <n-tab-pane name="song" tab="单曲">
        <div class="my-4 flex items-center gap-4">
          <n-button type="primary" round @click="handlePlayAll">
            <template #icon>
              <n-icon size="14">
                <svg-icon name="play-solid"></svg-icon>
              </n-icon>
            </template>
            <span>播放全部</span>
            <div class="ml-4">
              <n-tooltip placement="bottom-start" trigger="hover">
                <template #trigger>
                  <n-icon size="16">
                    <svg-icon name="plus"></svg-icon>
                  </n-icon>
                </template>
                <span>添加全部到播放列表</span>
              </n-tooltip>
            </div>
          </n-button>
          <span class="text-gray-600 dark:text-gray-200 text">共找到 {{ pagination.total }} 首歌曲</span>
        </div>
        <SongList :data="musicList"></SongList>
        <div class="mt-4">
          <n-pagination
            v-model:page="pagination.current"
            v-model:page-size="pagination.pageSize"
            :item-count="pagination.total"
            show-size-picker
            :page-sizes="[20, 40, 60]"
            @update:page="handleChangePage"
            @update:page-size="handleChangePageSze"
          ></n-pagination>
        </div>
      </n-tab-pane>
      <n-tab-pane name="playlist" tab="歌单">
        <n-grid :cols="5" :x-gap="24" :y-gap="24">
          <n-grid-item v-for="item in playlist" :key="item.id">
            <MusicCard :data="item"></MusicCard>
          </n-grid-item>
        </n-grid>
        <div class="mt-4">
          <n-pagination
            v-model:page="pagination.current"
            v-model:page-size="pagination.pageSize"
            :item-count="pagination.total"
            show-size-picker
            :page-sizes="[20, 40, 60]"
            @update:page="handleChangePage"
            @update:page-size="handleChangePageSze"
          ></n-pagination>
        </div>
      </n-tab-pane>
    </n-tabs>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import { useRoute } from 'vue-router'
import request from '@/utils/request'
import SongList from '@/components/SongList/index.vue'
import MusicCard from '@/components/MusicCard/index.vue'
import { currentSongState, playlistState, songState } from '@/utils/storage'
import { useMessage } from 'naive-ui'

const route = useRoute()
const message = useMessage()

// 监听路由变化
// /search?keywords=xxx
watch(
  () => route.query.keywords,
  value => {
    if (!value) return // 没有关键词就不请求
    pagination.value = {
      current: 1,
      pageSize: 30,
      total: 0
    }
    getSearchResult()
  }
)

const musicList = ref<any>([])
const playlist = ref([])
const pagination = ref({
  current: 1,
  pageSize: 30,
  total: 0
})
const searchType = ref('1')
// 获取搜索结果
const getSearchResult = async () => {
  const res = (await request.get('/cloudsearch', {
    params: {
      keywords: route.query.keywords,
      type: searchType.value,
      limit: pagination.value.pageSize,
      offset: (pagination.value.current - 1) * pagination.value.pageSize
    }
  })) as any
  if (searchType.value === '1') {
    musicList.value = res.result.songs
    res.result.songCount && (pagination.value.total = res.result.songCount)
  } else {
    playlist.value = res.result.playlists
    res.result.playlistCount && (pagination.value.total = res.result.playlistCount)
  }
}
getSearchResult()

// 页码改变
const handleChangePage = (page: number) => {
  pagination.value.current = page
  getSearchResult()
}

// 页码大小改变
const handleChangePageSze = (size: number) => {
  pagination.value.pageSize = size
  getSearchResult()
}

// tab切换
const handleChangeTab = (tab: string) => {
  switch (tab) {
    case 'song':
      searchType.value = '1'
      break
    case 'playlist':
      searchType.value = '1000'
      break
  }
  pagination.value = {
    current: 1,
    pageSize: 30,
    total: 0
  }
  getSearchResult()
}

// 播放全部
const handlePlayAll = async () => {
  playlistState.value = musicList.value
  const data = (await request.get('/check/music', {
    params: {
      id: musicList.value[0].id
    }
  })) as any
  if (data.success) {
    currentSongState.value = musicList.value[0]
    const songDetail = (await request.get('/song/url', {
      params: {
        id: musicList.value[0].id
      }
    })) as any
    songState.value.url = songDetail.data[0].url
  } else {
    message.info('亲爱的,暂无版权')
  }
}
</script>

<style lang="scss" scoped></style>
